#myCards {
    background-image: linear-gradient(to right,lightblue 0%,darkblue 100%);
    
}

.text-center {
    background-image: linear-gradient(to right,lightblue 0%,darkblue 100%);
    margin-top: 0;
}

.btnEffect:hover {
    background-color: white;
    color: cornflowerblue;
}


.card-font {
    color: darkgray;
}

.netfilxTV {
    width: 90%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    top: 46%;
    left:50%;
}

.card-margin {
    margin-left: 1px;
}

.video-left {
    width: 100%;
}

.card1 {
    /* background-color: darkseagreen; */
    background-image: linear-gradient(to right,darkseagreen 0%,green 100%);
    /* z-index: -1; */
}

.card2 {
    background-image: linear-gradient(to left,lightblue 0%,darkblue 100%);
}

.card3 {
    /* background-color: rgb(207, 169, 71); */
    background-image: linear-gradient(to right,rgb(207,169,71) 0%,rgb(124, 91, 6) 100%);
}

#myFavorites {
    background-color: cornflowerblue;
}

#h1Favorites {
    text-align: center;
}
