:root {
    --brown: #6d6656;
    --gray: #53565A;
    --black: #272727;

    --heading-font: 'texasTango';
}

@font-face {
    font-family: 'texasTango';
    src: url('../assets/texasTango.otf');
}

